@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
.container{
    height: 100vh;
    background: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260) no-repeat;
    background-size: cover;

    .elementos{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding: 1em;

        .profile{
            width: 100px;
            height: 100px;
            overflow: hidden;

            img{
                object-fit: cover;
                width: 100%;
                border-radius: 50%;
            }
        }
        .name{
            margin: .8em 0;
            span{
                color: white;
            }
        }
        .links{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-top: 2em;

            a{
                display: block;
                text-align: center;
                text-decoration: none;
                padding: 2em;
                margin: 1em 0;
                background-color: rgba(white, 0.8);
                color: black;
                transition: .2s ease-in-out;
                border-radius: 10px;

                &:hover{
                    background-color: rgba(rgb(206, 205, 205), 0.95);
                }
            }
        }
    }
}

@media screen and (max-width:400px){
    .links{
        a{
            padding: 1em !important;
        }
    }
}